/*Colors*/
$Facebook:#3b5998;
$Youtube:#cd201f;
$Instagram:#9b6954;
$Steam:#171a21;
$Web:#2bbbad;

$blue:#428bca;
$green:#5cb85c;
$red:#d9534f;
$yellow:#f0ad4e;

/*General Indicators*/
$Overlay:0.5;
$Darken:10%;
$Lighten:10%;




