.btn-unique {
    background-color: #3f729b;
}

.facebook {
    color: #9daccb !important;
}

    .facebook:hover {
        color: #3b5998 !important;
    }

.youtube {
    color: #e68f8f;
}

    .youtube:hover {
        color: #cd201f;
    }

.instagram {
    color: #cdb4a9;
}

    .instagram:hover {
        color: #9b6954;
    }

.steam {
    color: #8b8c90;
}

    .steam:hover {
        color: #171a21;
    }

.web {
    color: #95ddd6;
}

    .web:hover {
        color: #2bbbad;
    }

.d3, .wow {
    opacity: 0.5;
}

    .d3 img, .wow img {
        width: 2em;
        height: 2em;
        margin-top: -1em;
    }

    .d3:hover, .wow:hover {
        opacity: 1.0;
    }

section {
    padding: 2rem;
}

#Banner {
    padding: 0;
}
