.btn-unique {
    background-color: #3f729b;
}

.facebook {
    color: #9daccb !important;
}

    .facebook:hover {
        color: #3b5998 !important;
    }

.youtube {
    color: #e68f8f;
}

    .youtube:hover {
        color: #cd201f;
    }

.instagram {
    color: #cdb4a9;
}

    .instagram:hover {
        color: #9b6954;
    }

.steam {
    color: #8b8c90;
}

    .steam:hover {
        color: #171a21;
    }

.web {
    color: #95ddd6;
}

    .web:hover {
        color: #2bbbad;
    }

.d3, .WorldofWarcraft {
    opacity: 0.5;
}

    .d3 img, .WorldofWarcraft img {
        width: 2em;
        height: 2em;
        margin-top: -1em;
    }

    .d3:hover, .WorldofWarcraft:hover {
        opacity: 1.0;
    }

section {
    padding: 2rem;
}

#Banner {
    padding: 0;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #666;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #4285F4 !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #4285F4;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}